<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"></meta>
<title th:text="#{login.title}"></title>
</head>
<body>
	login/oauth2.client.html
	<form th:action="@{/oauth/login}" th:object="${user}" method="post">
		<fieldset>
			<legend th:text="#{login.form.fieldset.legend}"></legend>
			<span th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}" style="color: red;"></span>
			<div>
				<label th:text="#{login.form.label.username}" for="username"></label><input type="text" th:field="*{username}" />
			</div>
			<div>
				<label th:text="#{login.form.label.password}" for="password"></label><input type="password" th:field="*{password}" />
			</div>
			<div>
				<label th:text="#{login.form.label.captcha}" for="captcha"></label><input type="text" name="captcha" id="captcha" />
			</div>
			<div>
				<input type="checkbox" name="remember-me" value="true" /><span th:text="#{login.form.label.remember-me}"></span>
			</div>
			<div>
				<input type="hidden" name="redirectUrl" th:value="${session.SPRING_SECURITY_SAVED_REQUEST.getRedirectUrl()}" />
				<input type="submit" th:value="#{login.form.button.submit}" />
			</div>
		</fieldset>
	</form>
</body>
</html>